<ion-content padding class="backgroundIMG">
  <img src="assets/img/logoBWay.png" class="size">

  <div class="onlyLogin">
    <ion-item class="email-pass">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item class="email-pass">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="pass"></ion-input>
    </ion-item>
  </div>

  <div class="flex LR_buttons">
    <ion-button color="primary" class="buttons" shape="round" >Login</ion-button>
    <ion-button color="primary" class="buttons" shape="round" >Sign Up</ion-button>
  </div>

  <div class="or_field flex">
    <div class="line"></div>
    <div class="or"> or </div>
    <div class="line"></div>
  </div>

  <div class="sup">
    Sign up with
  </div>

  <div class="flex LR_buttons">
    <ion-button class="facebook" fill="outline" color="blue" shape="round" >
      <ion-icon name="logo-facebook" class="facebook" ></ion-icon>
      Facebook
    </ion-button>

    <ion-button class="linkedin" fill="outline" shape="round" color="blue">
      <ion-icon name="logo-linkedin" class="linkedin"></ion-icon>
      LinkedIn
    </ion-button>
  </div>

</ion-content>
