.imageCentered{
  width:35%;
  margin: 0 auto;
}
.mainCard{
  background-color: white;
  padding-top: 16px;
}
.domainCentered{
  text-align: center;
  ion-label{
    font-family: 'Open Sans', sans-serif;
    color: #2c2c2c;
    font-size: 26px;
  }
}
.showMore{
  text-align: center;
  ion-button{
    text-align: center;
  }
}
.marginn{
  margin: 16px 0 0 10px;
}
.greyBackground{
  background-color: #eaeaea;
}
