.imageCentered{
  width:40%;
  margin: 0 auto;
}
.mainCard{
  background-color: white;
}
.domainCentered{
  text-align: center;
  ion-label{
    font-family: 'Open Sans', sans-serif;
    color: #2c2c2c;
    font-size: 26px;
  }

}
