<ion-header>
  <ion-toolbar>
    <img src="assets/img/logoBWay_low_res.png" class="bway_image">
  </ion-toolbar>
</ion-header>

<ion-content padding class="backgroundIMG">

  <ion-searchbar  showCancelButton="focus"></ion-searchbar>

  <ion-button size="small" color="light">
    Filter
    <ion-icon slot="start" name="funnel" color="dark"></ion-icon>
  </ion-button>
  <ion-button size="small" color="light">Date</ion-button>
  <ion-button size="small" color="light">Level</ion-button>

</ion-content>
