<ion-header>
  <ion-toolbar>
    <img src="assets/img/logoBWay_low_res.png" class="bway_image">
  </ion-toolbar>
</ion-header>

<ion-content padding="0" class="backgroundIMG">
  <div class="padRight">
    <ion-searchbar placeholder="Search tutoring lessons" showCancelButton="focus" [(ngModel)]="filter" (ionChange)="onInputSearchBar($event)"></ion-searchbar>

    <div class = "filterButtons">
      <ion-button size="small" color="light">
        Filter
        <ion-icon slot="start" name="funnel" color="dark"></ion-icon>
      </ion-button>
      <ion-button size="small" color="light">Date</ion-button>
      <ion-button size="small" color="light">Level</ion-button>
    </div>
  </div>

  <div *ngIf="!filter">

    <div class="padRight">
      <ion-text>
        <h3>Domains of interest</h3>
      </ion-text>
    </div>

    <div scrollX="true" >
      <div class="container">
        <ion-card *ngFor="let domain of domains">
          <ion-card-header (click)="setSearchToSubject(domain)">
            <img src="../../assets/img/{{domain}}.png" />
            <div class="centeredText">
              <ion-text>{{parseDomain(domain)}}</ion-text>
            </div>
          </ion-card-header>
        </ion-card>
      </div>
    </div>

    <div class="padRight">
      <ion-text>
        <h3>Top Rated tutoring lessons</h3>
      </ion-text>

      <ion-card class="consultationCard">
        <ion-item>
          <ion-icon size="large" name="contact"></ion-icon>
          <ion-label>
            Razvan Horhat - <div class="domainBold">Mathematics</div>
  <!--          <rating [(ngModel)]="rate" readonly="true"  size="small">-->
  <!--          </rating>-->

            <ionic4-star-rating #rating
                                activeIcon = "md-star"
                                defaultIcon = "md-star-outline"
                                activeColor = "#ffb400"
                                defaultColor = "#aaaaaa"
                                readonly = "true"
                                rating = "2"
                                fontSize = "20px">
            </ionic4-star-rating>
          </ion-label>
        </ion-item>

        <ion-card-content>

          <div class="levelLeft">
            Intermediate
          </div >
          <div class="classRight">
            9 - 11
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div class="padRight">
    <ion-text>
    <h3>Suggested for you</h3>
    </ion-text>

    <div *ngFor="let consultation of consultationsListToShow; let i = index">
      <ion-card class="consultationCard" (click)="goToConsultationPage(i)">
        <ion-item>
          <ion-icon size="large" name="contact"></ion-icon>
          <ion-label>
            {{mentorsInformationToShow[i]?.firstName}} {{mentorsInformationToShow[i]?.lastName}} - <div class="domainBold">{{consultation.subject}}</div>
            <!--          <rating [(ngModel)]="rate" readonly="true"  size="small">-->
            <!--          </rating>-->

            <ionic4-star-rating #rating
                                activeIcon = "md-star"
                                defaultIcon = "md-star-outline"
                                activeColor = "#ffb400"
                                defaultColor = "#aaaaaa"
                                readonly = "true"
                                rating = "{{mentorsInformationToShow[i]?.rating}}"
                                fontSize = "20px">
            </ionic4-star-rating>
          </ion-label>
        </ion-item>

        <ion-card-content>

          <div class="levelLeft">
            {{consultation.level}}
          </div >
          <div class="classRight">
            {{consultation.clasa}}
          </div>
        </ion-card-content>
      </ion-card>

    </div>
  </div>
</ion-content>


