<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mentor Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class = "backgroundIMG">

  <img src="../../assets/img/graduate.png" class="sizenew">

  <ion-list class="listAttr">
    <ion-item >
      <ion-label class = "boldLabel" stacked> Name </ion-label>
      <ion-label class = " nomargin">Horhat Razvan</ion-label>
    </ion-item>
    <div class="starsText"> Overall rating</div>
    <ionic4-star-rating #rating
                        activeIcon = "md-star"
                        defaultIcon = "md-star-outline"
                        activeColor = "#ffb400"
                        defaultColor = "#aaaaaa"
                        readonly = "true"
                        rating = "5"
                        fontSize = "20px">
    </ionic4-star-rating>
    <div class="starsText"> Engagement</div>
    <ionic4-star-rating #rating
                        activeIcon = "md-star"
                        defaultIcon = "md-star-outline"
                        activeColor = "#ffb400"
                        defaultColor = "#aaaaaa"
                        readonly = "true"
                        rating = "4"
                        fontSize = "20px">
    </ionic4-star-rating>
    <div class="starsText">Example focusing</div>
    <ionic4-star-rating #rating
                        activeIcon = "md-star"
                        defaultIcon = "md-star-outline"
                        activeColor = "#ffb400"
                        defaultColor = "#aaaaaa"
                        readonly = "true"
                        rating = "5"
                        fontSize = "20px">
    </ionic4-star-rating>
    <div class="starsText">Theory focusing</div>
    <ionic4-star-rating #rating
                        activeIcon = "md-star"
                        defaultIcon = "md-star-outline"
                        activeColor = "#ffb400"
                        defaultColor = "#aaaaaa"
                        readonly = "true"
                        rating = "4"
                        fontSize = "20px">
    </ionic4-star-rating>
    <div class="starsText">Energy</div>
    <ionic4-star-rating #rating
                        activeIcon = "md-star"
                        defaultIcon = "md-star-outline"
                        activeColor = "#ffb400"
                        defaultColor = "#aaaaaa"
                        readonly = "true"
                        rating = "5"
                        fontSize = "20px">
    </ionic4-star-rating>
    <ion-item>
      <ion-label class = "boldLabel" stacked> Curriculum Vitae </ion-label>
      <ion-label class = " nomargin">
        <a href="www.shorturl.at/buIPX">Link</a>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class = "boldLabel" stacked> Self Descripiton </ion-label>
      <ion-label class = " nomargin">Sunt student</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class = "boldLabel" stacked> Birth Date </ion-label>
      <ion-label class = " nomargin">11.05.1996</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class = "boldLabel" stacked> Gender </ion-label>
      <ion-label class = " nomargin">M</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class = "boldLabel" stacked> Email </ion-label>
      <ion-label class = " nomargin">razvan@yahoo.com</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class = "boldLabel" stacked> Phone Number </ion-label>
      <ion-label class = " nomargin">0771899877</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class = "boldLabel" stacked> Location </ion-label>
      <ion-label class = " nomargin">Cluj-Napoca</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class = "boldLabel" stacked> University </ion-label>
      <ion-label class = " nomargin">Babes-Bolyai</ion-label>
    </ion-item>


  </ion-list>

</ion-content>
