.item
{
  --background: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}
.text
{
  --background: none;
  opacity:1;
  margin: 22px;
  font-size: 20px;
}
.line
{
  flex: 1;
  margin-top: 19px;
  background-color: #b6b6b6;
  height: 1px;
  margin-bottom: 19px;
}
.continue
{
  color: #8e8e8e;
  line-height:40px;
  text-align: center;
  width: 50px;
}
.flex
{
  display: flex;
  justify-content: center;
}
.LR_buttons
{
  margin: 20px 0 8px 0;
}


.some-page-wrapper {
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  .centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .textType{
    margin: 10px;
    font-weight: bold;
  }
}

